### Q1

In [13]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()

print(a)

6

### Q2

In [2]:
def fileLength(filename):
    try:
        with open(filename, 'r') as file:
            content = file.read()
            return len(content)
    except FileNotFoundError:
        return f"File {filename} not found."

In [3]:
print(fileLength('Filelength.txt'))
print(fileLength('midterm.py'))  
print(fileLength('bloodtype1.txt'))

123
File midterm.py not found.
102

### Q3

In [4]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [5]:
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"


k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### Q4

In [6]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

### Q5

In [7]:
def binary(n):
    if n == 0:
        print(0, end='')
    elif n == 1:
        print(1, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')


binary(0)  
print()  
binary(1)
print() 
binary(3)
print()  
binary(9)
print()

0
1
11
1001

### Q6

In [26]:
with open('w3c.txt', 'r') as infile:
    lines = infile.readlines()

html_content = '<html>\n<body>\n'
for line in lines:
    html_content += f'<h1>{line.strip()}</h1>\n'
html_content += '</body>\n</html>'

with open('w3c.html', 'w') as outfile:
    outfile.write(html_content)

In [27]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.inHeading = False
        self.indent = 0

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.inHeading = True
            self.indent = int(tag[1]) - 1

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.inHeading = False

    def handle_data(self, data):
        if self.inHeading:
            print(' ' * self.indent + data)

In [28]:

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me
W3C Mission
 Principles

### Q7

In [9]:
import requests
from urllib.parse import urljoin, urlparse
from bs4 import BeautifulSoup

def webdir(url, depth, indent, visited=None):
    if visited is None:
        visited = set()

    if depth < 0 or url in visited:
        return
    
    visited.add(url)
    print(' ' * indent + url)
    
    try:
        response = requests.get(url)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
        links = soup.find_all('a', href=True)
        
        count = 0
        for link in links:
            href = link.get('href')
            new_url = urljoin(url, href)
            
            if urlparse(new_url).netloc == urlparse(url).netloc and new_url not in visited:
                webdir(new_url, depth - 1, indent + 4, visited)
                count += 1
                if count >= 5:  
                    break
    except requests.exceptions.RequestException as e:
        print(' ' * indent + f"Error: {e}")


webdir('https://ca.statebank/', 2, 0)

https://ca.statebank/
    https://ca.statebank/#main-content
        https://ca.statebank
        https://ca.statebank/personal-banking
        https://ca.statebank/account
        https://ca.statebank/saving-account
        https://ca.statebank/super-saver
    https://ca.statebank/premium-saving-account
        https://ca.statebank/premium-saving-account#main-content
        https://ca.statebank/chequing
        https://ca.statebank/documents/344623/345114/POA.pdf
        https://ca.statebank/borrowings
        https://ca.statebank/mortgages
    https://ca.statebank/lines-of-credit
        https://ca.statebank/lines-of-credit#main-content
        https://ca.statebank/loan-against-gic
        https://ca.statebank/investments
        https://ca.statebank/gic
        https://ca.statebank/tfsa
    https://ca.statebank/registered-retirement-saving-plans-rrsp
        https://ca.statebank/registered-retirement-saving-plans-rrsp#main-content
        https://ca.statebank/send-money-to-india
        https://ca.statebank/commitment-to-seniors
        https://ca.statebank/business-banking
        https://ca.statebank/business-account
    https://ca.statebank/super-saver-business
        https://ca.statebank/super-saver-business#main-content
        https://ca.statebank/chequing-business
        https://ca.statebank/gic-business
        https://ca.statebank/borrowing
        https://ca.statebank/working-capital-loans

### Q8

In [10]:
import sqlite3


conn = sqlite3.connect(':memory:')
c = conn.cursor()
c.execute('''
CREATE TABLE weather (
    city TEXT,
    country TEXT,
    season TEXT,
    temperature REAL,
    rainfall REAL
)
''')
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]
c.executemany('INSERT INTO weather VALUES (?,?,?,?,?)', data)
conn.commit()


queries = {
    "The temperature data": "SELECT temperature FROM weather",
    "The cities, but without repetition": "SELECT DISTINCT city FROM weather",
    "The Weather records for India": "SELECT * FROM weather WHERE country='India'",
    "The Fall records": "SELECT * FROM weather WHERE season='Fall'",
    "The city, country, and season for which the average rainfall is between 200 and 400 millimeters": "SELECT city, country, season FROM weather WHERE rainfall BETWEEN 200 AND 400",
    "The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order": "SELECT city, country FROM weather WHERE season='Fall' AND temperature > 20 ORDER BY temperature ASC",
    "The total annual rainfall for Cairo": "SELECT SUM(rainfall) FROM weather WHERE city='Cairo'",
    "The total rainfall for each season": "SELECT season, SUM(rainfall) FROM weather GROUP BY season"
}

for key, query in queries.items():
    print("\n")
    print(f"{key}:")
    for row in c.execute(query):
        print(row)
    print()

conn.close()

The temperature data:
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)



The cities, but without repetition:
('Mumbai',)
('London',)
('Cairo',)



The Weather records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)



The Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)



The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')



The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')



The total annual rainfall for Cairo:
(27.6,)



The total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

### Q9

In [11]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


uppercase_words = [word.upper() for word in words]
print("\nConvert to uppercase:")
print(uppercase_words)
print("\n")


lowercase_words = [word.lower() for word in words]
print("\nConvert to lowercase:")
print(lowercase_words)
print("\n")


lengths = [len(word) for word in words]
print("\nLength of each words:")
print(lengths)
print("\n")



word_details = [[word.upper(), word.lower(), len(word)] for word in words]
print("\nList of lists with uppercase, lowercase, and length:")
print(word_details)
print("\n")


words_with_4_or_more = [word for word in words if len(word) >= 4]
print("\nWords with 4 or more characters:")
print(words_with_4_or_more)

Convert to uppercase:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']



Convert to lowercase:
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']



Length of each words:
[3, 5, 5, 3, 5, 4, 3, 4, 3]



List of lists with uppercase, lowercase, and length:
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]



Words with 4 or more characters:
['quick', 'brown', 'jumps', 'over', 'lazy']